.footer {
    background-color: $main-color;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;

    p {
        font-size: 1rem;
    }

    a {
        color: white;
        font-family: 'Oswald';
        font-size: 1rem;

        &:hover {
            color: lightgray;
        }
    }
}

.footer__policy {
    display: flex;
}

.footer__author {
    margin-left: 2rem;
}