.thumbs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    text-align: center;
    
}

.thumbs__content {
    width: 35%;
    margin-bottom: 3rem;
}

.thumbs__text {
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.thumbs__thumbnails {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.thumbs__card {
    width: 500px;
    height: 500px;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.2);
    

    &:hover .thumbs__title {
        background-color: $main-color;
        color: white;
    }
}

.thumbs__title {
    font-family: 'Oswald';
    color: $main-color;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    font-size: 1.4rem;
    width: 70%;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.7);
    transition: all 0.2s;
}

%bg-position {
    background-position: center;
}

.thumbs__gin {
    background-image: url('src/assets/thumb_gin.jpg');
    background-size: cover;
}

.thumbs__vodka {
    background-image: url('src/assets/thumb_vodka.jpg');
    background-size: cover;
    @extend %bg-position;
}

.thumbs__whisky {
    background-image: url('src/assets/thumb_whisky.jpg');
    background-size: cover;
    @extend %bg-position;
}

.thumbs__vermouth {
    background-image: url('src/assets/thumb_vermouth.jpg');
    background-size: cover;
    @extend %bg-position;
}

.thumbs__liquor {
    background-image: url('src/assets/thumb_liquor.jpg');
    background-size: cover;
    @extend %bg-position;
}

.thumbs__merchandise {
    background-image: url('src/assets/thumb_merch.jpeg');
    background-size: cover;
    @extend %bg-position;
}