<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")

        meta(name="theme-color" content="#013582")
        meta(name="msapplication-navbutton-color" content="#013582")
        meta(name="apple-mobile-web-app-status-bar-style" content="#013582")

        link(rel='shortcut icon' href='src/assets/favicon.png' type='image/png')


        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Oakheart Distillery
        style
            include src/styles/reset.css
            include src/styles/fonts.css
            include src/styles/styles.css
        script(src="https://kit.fontawesome.com/b47163faa3.js" crossorigin="anonymous")
    body
        include src/components/header.pug
        include src/components/firstScreen.pug
        include src/components/shop.pug
        include src/components/promo.pug
        include src/components/gin.pug
        include src/components/spirits.pug
        include src/components/origin.pug
        include src/components/distillery.pug
        include src/components/contact.pug
        include src/components/footer.pug