// Mixins
@import 'components/_mixins.scss';

// Components
@import 'components/header.scss';
@import 'components/firstScreen.scss';
@import 'components/shop.scss';
@import 'components/promo.scss';

html {
    font-size: 18px;
    font-family: 'Cardo';
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald Bold';
}

button {
        font-family: 'Oswald';
        text-transform: uppercase;
        letter-spacing: 0.075rem;
        font-size: 1rem;
        background-color: $main-color;
        color: white;
        border: none;
        cursor: pointer;
        padding: 0.3rem 1rem;
        transition: all 0.2s;
    
        &:hover {
            background-color: $main-color-light;
        }
}

h2 {
    font-family: 'Oswald';
    font-size: 2rem;
    text-transform: uppercase;
}