mixin card(title, img, price)
    .__card
        figure.__img
            img(src= img, alt="", srcset="" width="200")
        p.__title= title
        p.__price= price
        button.__buy-button Buy Now