mixin card(title, img, price)
    .__card
        .__img-container(href='#')
            a(href='#')
                img.__img(src= img, alt= title + ` gin`, height="350")
        p.__title= title
        p.__price= price
        button.__buy-btn Buy Now