.contact
    .contact__info
        h3.contact__contact-heading
        p.contact__address 28 Grange Rd, Birmingham B6 6LA, UK
        p
            a(href='#').contact__phone +44 123 456 7890
        p
            a(href='#').contact__email oakheart@somemail.com
    .contact__social
        h3.contact__social-heading
        .contact__social-container
            a(href='#')
                img(src="src/assets/facebook.svg", alt="Facebook", srcset="" width='40')
            a(href='#')
                img(src="src/assets/instagram.svg", alt="Instagram", srcset="" width='40')
            a(href='#')
                img(src="src/assets/twitter.svg", alt="Twitter", srcset="" width='40')
            