.distillery
    .distillery__content
        h2.distillery__heading Distillery
        p.distillery__text We get emails on a daily basis with people asking us for more information and advice on how and where to begin. Let us just say this, it’s a long answer.
        p.distillery__text Want to know more? Read our full article:
        button.distillery__button Read article