.banner
    .banner__content
        h1.banner__heading Oakheart Distillery
        p.banner__text Worldwide known gins, liqueurs and vermouths, hand-crafted with open heart.
        button.banner__btn Read More