.banner
    .banner__content
        figure.banner__img
            img(src="src/assets/logo-isolated-black.svg" alt='Oakheart Logo')
        h1.banner__heading Oakheart Distillery
        p.banner__text Worldwide known gins, liqueurs and vermouths, hand-crafted with open heart.
        button.banner__btn Read More