footer.footer
    p.footer__copyright © 2020 Oakheart Distillery
    .footer__policy
        p 
        a(href='#').footer__terms Terms & Conditions
        p.footer__author Website by <a href='#'>Orsan Roy</a>