include mixins/card.pug

.gin
    .gin__content
        h2.gin__heading Our beloved Gin
        p.gin__text Gin is commonly used in cocktails and mixed drinks, such as the gin and tonic, martini, Negroni, gimlet, Tom Collins, French 75, Aviation, Singapore Sling, 20th Century, Gibson, Last Word, Vesper, gin fizz, Old Etonian and Moon River.
    .gin__product-list
        +card('Some Old School', 'src/assets/gin_1.png', '45£')
        +card('Some Old School', 'src/assets/gin_2.png', '45£')
        +card('Some Old School', 'src/assets/gin_3.png', '45£')
