.origin
    .origin__content
        h2.origin__heading Born in Oaks
        p.origin__text_first Our distillery was founded in 2006 by Vincent Bowers — a humble man with little dream about running his own business. He had nothing but some money and strong desire to make good beverages.
        p.origin__text Vincent was not afraid of using technologies; that gave us a chance to grow larger and become one of the most famous distilleries in our area. You want to know what is our secret? Patience and love. 
        //- button.origin__btn Read more