.promo
    .promo__content
            h2 Fresh new one
            p.promo__text Meet Bermuda Triangle Gin — a tough Old School guy who have been through some troubles.
            button.promo__btn Try this Gin
    figure.promo__bottle-img
        img(src="src/assets/promo.png", alt="Bermuda Triangle Gin")
    