.promo
    .promo__content
            h2.promo__heading Fresh new one
            p.promo__text Meet Bermuda Triangle Gin — a tough Old School guy who have been through some troubles.
            button.promo__btn Try this Gin
    figure.promo__bottles-img
        img(src="src/assets/bottles-black.png", alt="Bermuda Triangle Gin" width='360')
    