include mixins/thumbs.pug

.thumbs
    .thumbs__content
        h2.thumbs__heading Welcome to Oakheart! 
        p.thumbs__text We are small distillery based in Birmingham, UK. We produce gins, liquors, vodkas, vermouth & whiskies, all made with good vibes and our hearts wide open.
    .thumbs__thumbnails
        +thumb('gin')
        +thumb('liquor')
        +thumb('vermouth')
        +thumb('vodka')
        +thumb('whisky')
        +thumb('merchandise')