include mixins/thumbs.pug

.thumbs
    p.thumbs__text Welcome to Oakheart! We are small distillery based in Birmingham, UK. We produce gins, liquors, vodkas, vermouth & whiskies, all made with good vibes and our hears wide open.
    .thumbs__thumbnails
        +thumb('Gin')
        +thumb('Vodka')
        +thumb('Whisky')
        +thumb('Vermouth')
        +thumb('Liquor')
        +thumb('Merchandise')