include mixins/card.pug

.spirits#spirits
    .spirits__content
        h2 Explore Our Spirits
        p.spirits__text Spirits are the highest ABV products of the yeast-based fermentation of a liquid brewed to have fermentable sugars. Unlike beer or wine, however, spirits are the product of a second step called “distillation” that further fortifies them.
    .spirits__product-list
        +card('Funky Liquor', 'src/assets/liquor_1.png', '39.85£')
        +card('Abbie the Tiger', 'src/assets/liquor_2.png', '56.55£')
        +card('Long Jason', 'src/assets/liquor_3.png', '49.95£')
        +card('Cold Berry', 'src/assets/liquor_4.png', '55.35£')